/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 80%;
  background-color: aquamarine;
}

.game {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.players {
  max-width: 40%;
}

img{
  margin: 0 auto;
  display: block;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}
.result {
  width: 200px;
  height: 30px;
  border: 1px solid red;
  display: inline-block;
  border-radius: 5px;
  background-color: blanchedalmond;
  padding: 5px 0;
  margin-bottom: 10px;
  font-weight: bold;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
